@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan', sans-serif;
}
h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-size: 12px;
    font-weight: 700;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}
.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: #f5f5f2;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
body {
    width: 100%;
}


/* Navbar Section */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: rgb(204, 165, 165);
    z-index: 1000;
    position: fixed;
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
}

.logo {
    margin-top: 5px;
    height: 60px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
   
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3 ease;

}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background:#088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}


/* Home Page Section */
#hero {
    display: flex;
    justify-content: center;
    background-color: #c1c1ab;
    width: 100%;
    height: 100vh;
   
}
.hero-text {
    margin-top: 260px;
    margin-left: 50px;
}
.hero-text h1 {
    color: #088178;
}
.hero-text button {
    background: linear-gradient(to bottom, #c9a215, #d05f13);
    color:  white;
    font: bold;
    font-size: 18px;
    border: none;
    padding: 10px;
    border-radius: 15px;
    height: 45px;
    width: 150px;
}

.hero-text button:hover {
    background: transparent;
    color: #465b52;
    border: 2px solid  #465b52;
}

.hero-image img {
    margin-top: 192px;
    height: 450px;
    width: 600px;
    margin-left: 10px;
    display: block;
}

/* Tablet */
@media (max-width: 992px) {
  #hero {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .hero-text {
    margin-top: 80px;
    margin-left: 0;
  }

  .hero-image img {
    width: 100%;
    height: auto;
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  #header {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  #navbar {
    flex-wrap: wrap;
    margin-top: 10px;
  }

  #navbar li {
    padding: 10px;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 36px;
    line-height: 44px;
  }

  h2 {
    font-size: 32px;
  }

  p {
    font-size: 14px;
  }

  .hero-text button {
    width: 130px;
    height: 40px;
    font-size: 16px;
  }
}

/* Feature Section */
#feature  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}
#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(36, 34, 34, 0.03);
    border: 1px solid rgb(223, 207, 207);
    border-radius: 8px;
    /* position: absolute; */
}

#feature .fe-box:hover {
    box-shadow:5px 5px 10px rgb(18, 17, 17) ;
}

#feature .fe-box h6 {
    padding: 9px 8px 6px 8px;
    display: inline-block;
    line-height: 1;
    border-radius: 4px;
    background-color: rgb(205, 196, 196);
    color: #088178;
}

#feature .fe-box img {
    height: 160px;
    width: 180px;
    /* position: relative; */
    margin-right: 10px;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: rgb(180, 163, 163);
}
#feature .fe-box:nth-child(3) h6 {
    background-color: rgb(207, 181, 181);
}
#feature .fe-box:nth-child(4) h6 {
    background-color: rgb(226, 207, 207);
}
#feature .fe-box:nth-child(5) h6 {
    background-color: rgb(181, 193, 197);
}
#feature .fe-box:nth-child(6) h6 {
    background-color: rgb(230, 193, 193);
}

#product1 {
    text-align: center;

}
#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;flex-wrap: wrap;
}
#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25px;
    cursor: pointer;
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow:2px 2px 5px rgb(18, 17, 17) ;
}

#product1 .pro img {
    width: 80%;
    height: 240px;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243,181,25);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro #cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    color: #088178;
    font-weight: 500;
    border: 1px solid rgb(240, 232, 232);
    position: absolute;
    bottom: 20px;
    right: 10px;
}

/* Banner Section */
#banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url("banner image.jpg");
    width: 100%;
    height: 40vh;
    background-position: center;
    background-size: cover;
}

#banner h4 {
    color: #ffffff;
    font-size: 16px; 
}

#banner h2 {
    color: #ffffff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span {
    color: #bc0a0a;
}

#banner button:hover {
    background-color: #088178;
    color: #ffffff;
}

/* Banner Action */
#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#sm-banner .banner-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    background-image: url("ab.jpg");
    min-width: 580px;
    height: 50vh;
    background-position: center;
    background-size: cover;
    padding: 30px;
}

#sm-banner .banner-box2 {
     background-image: url("ab2.webp");
}

#sm-banner span {
    color: #010101;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 14px;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: rgb(0, 0, 0);
    background-color: #088178;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
    border: none;
}

button.white:hover {
    background-color: #000000;
    color: #ffff;
}

#banner3 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    background-image: url("ab3.webp");
    min-width: 35%;
    height: 40vh;
    background-position: center;
    background-size: cover;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box2 {
    background-image: url("ab4.avif");
}

#banner3 .banner-box3 {
    background-image: url("ab5.jpg");
}

#banner3 h3 {
    color: rgb(176, 10, 10);
}


/* News Letter Section */
#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(6, 6, 80);
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
}
#newsletter p {
    font-size: 16px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span {
    color: #eeff00;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.125rem;
    padding: 8px;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 8px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    background-color: #088178;
    color: #ffff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Footer Section */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 20px;
    padding-bottom: 20px;
}

footer p {
    font-size: 15px;
    margin: 0 0 8px 0;
    color: black;
}

footer a {
    font-size: 15px;
    text-decoration: none;
    color: #000000;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    height: 50px;
    cursor: pointer;
}

footer .install .row2 img {
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover {
    color: #088178;
}

footer .copyright {
    width: 100%;
    text-align: center;
    font-size: 15px;
}

/* About Section */




/* Shop Section */





/* Blog Section */




/* Contact Section */

